:host{
  width: 80%;
  max-width: 400px;
  height: 30vh;
  min-height: 500px;
  margin-top: 60px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}

.score-div {
  background-color: white;
  padding: 8px;
  width: 80px;
  text-align: center;
  border-radius: 8px;
  margin: 0 auto;
}
.score-title {
  font-size: 12px;
  color: hsl(229, 64%, 46%);
  font-weight: bold;
}

.score-score {
  font-size: 30px;
  font-weight: bold;
}

